<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" href="css/jquery.mobile-1.4.1.min.css">
    <title>Highlinesale.com Mobile App</title>


    <script type="text/template" id="home">

        <div data-role="header">
            <h1>HighlineSale</h1>
        </div>

        <div data-role="content">
            <h3>Log In</h3>
            <form id="login-form">
              <input type="email" name="user_session[email]" placeholder="Email">
              <input type="password" name="user_session[password]" placeholder="Password">
              <button class="login">Go</button>
            </form>
            <!--<ul data-role="listview" data-inset="true">
                <li><a href="#page1">Sign Up (coming soon)</a></li>
                <li><a href="#page2">More Info (coming soon)</a></li>
            </ul>-->
        </div>

    </script>

    <script type="text/template" id="user">

        <div data-role="header">
            <h1>HighlineSale</h1>
        </div>

        <div data-role="content">
            <h3>Welcome <%= user.get('first_name') %>!</h3>
            <button>Add A Car (coming soon)</button>
            <h3>My Inventory</h3>
            <ul data-role="listview" data-inset="true">
              <% _.each(user.cars.models, function(car) { %>
                <li><a href="#"><%=car.description()%></a></li>
              <% });%>
            </ul>
            

        </div>

    </script>

    <script type="text/template" id="page1">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Page 1</h1>
        </div>

        <div data-role="content">
            <p>This is Page 1. It was created dynamically using an underscore.js template.</p>
            <p>Navigate to:</p>
            <ul data-role="listview" data-inset="true">
                <li><a href="#">Home</a></li>
                <li><a href="#page2">Page 2</a></li>
            </ul>
        </div>

    </script>

    <script type="text/template" id="page2">

        <div data-role="header">
            <a href="#" data-icon="back" class="back ui-btn-left">Back</a>
            <h1>Page 2</h1>
        </div>

        <div data-role="content">
            <p>This is Page 2. It was created dynamically using an underscore.js template.</p>
            <p>Navigate to:</p>
            <ul data-role="listview" data-inset="true">
                <li><a href="#">Home</a></li>
                <li><a href="#page1">Page 1</a></li>
            </ul>
        </div>

    </script>
    <script src="js/vendor/jquery-1.7.1.min.js"></script>
    <script src="js/jqm-config.js"></script>
    <script src="js/vendor/jquery.mobile-1.4.1.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script>
      window.hls = {};
      hls.server = "http://localhost:3000";

    </script>
    <script src="js/utilities.js"></script>
    <script src="js/models.js"></script>
    <script src="js/collections.js"></script>
    
    <script>
      hls.user = new hls.UserModel();
      hls.logged_in = function(){
        return hls.user.attributes.id != null;
      }
    </script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <script type="text/javascript" src="phonegap.js"></script>
  </body>
</html>
