a {
    text-transform:uppercase;
}
div[data-role=content] {
  text-align:center;
}
.ui-header h1.qrvin-title {
  padding:5px 0 0 0;
}

.ui-nosvg div .ui-icon-back:after {
  background-image: url(../img/back-white.png);
}
.ui-nosvg div .ui-icon-bars:after {
    background-image: url(../img/bars-white.png);
}
.no-back-button .back {
  visibility:hidden;
}
span.price {
    float:right;
    display:inline-block;
}
span.package {
    width:85%;
    display:inline-block;
    white-space:normal;
}
.custom-centercollheader {
    list-style:none !important;
}
.custom-centercollheader a{
    text-align: center !important;
    padding-right: 2.5em !important;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-image:url(../img/carbonfiber.png);
    color:white;
    border-bottom: 3px solid #c4d3d8;
}
.ui-btn, label.ui-btn {
    font-weight:inherit;

}
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    font-weight:inherit;
}
/*.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {*/
.ui-page-theme-a .ui-btn, .ui-page-theme-a .ui-btn:visited{

    color: #25a2c7;
}
.ui-page-theme-a .ui-header .ui-btn{ 
    color: black;
}
.ui-page-theme-a ul.ui-listview .ui-btn{ 
    color: black;
}

#brightness-up {
 position:absolute; bottom: 0; left:0; width:49%;
}
#brightness-down {
 position:absolute; bottom: 0; right:0; width:49%;
}
img.thumbnail {
 height:78px;
}